
.log__fitness {
    width: 30%;
}

.log__path {
    width: 70%;
}

.log {
    height: 86%;
    overflow: auto;
 }

.config {
    height: 86%;
    overflow-x: hidden;
    overflow-y: auto;
}

.plot {
    width: 400px;
    height: 400px;
}